<section class="todoapp">
<header class="header">
<h1> Todos</h1>
  <input class="new-todo" type="text" [(ngModel)]="newTodo" placeholder="Ajouter une todo" (keyup.enter)="onCreateTodo()">
</header>

<div class="main">
  <ul class="todo-list">
    <li *ngFor="let todo of todos;let i=index" class="todo">
      <div class="view">
        <input type="checkbox" [checked]="todo.todoStatus" (change)="todo.todoStatus = !todo.todoStatus" class="toggle">
        <label [ngClass]="{'completed':todo.todoStatus}">{{ todo.name }}</label>
        <button class="" (click)="onDeleteTodo(todo, i)"> delete todo</button>
      </div>
    </li>
  </ul>
  
</div>  

<footer class="footer">
    
</footer>
</section>
<button class="" [disabled] = "!allowTodoCreation" (click)="onCreateTodo()">ADD</button>
<button class="clear-completed" (click)="deleteSelected()">DeleteSelected</button>